﻿
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#setNumberBlock {
    margin-bottom: 10px;
}

#compareBlock {
    margin-top: 10px;
}

.control-btn-group {
    margin: 2px 8px;
}

.hidden {
    display: none;
}

textarea {
    padding-top: 10px;
    padding-bottom: 25px;
    width: 100%;
    display: block;
}

.btn-group > .btn.btn-default.radius-left {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.btn-group > .btn.btn-default.radius-right {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}