﻿@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar navbar-expand-lg navbar-light" role="alert">
        <div class="container">
            <span class="navbar-brand"><i class="fas fa-lg fa-info-circle"></i></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cookieConsent .navbar-collapse" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle cookie consent banner">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <div class="navbar-text mr-auto">
                    Use this space to summarize your privacy and cookie use policy.
                </div>
                <form class="form-inline my-2">
                    <a asp-controller="Home" asp-action="Privacy" class="btn btn-sm btn-info mr-1">Learn More</a>
                    <button type="button" class="btn btn-sm btn-default" data-cookie-string="@cookieString">Accept</button>
                </form>
            </div>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("d-none");
            }, false);
        })();
    </script>
}