﻿@model IEnumerable<Game_MVC.Services.Interfaces.Projections.GameProjection>

<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Winner)
        </th>
        <th>

        </th>
    </tr>
    @{ int index = 0; }
    @foreach (var item in Model) {
        <tr
            @if (item.Winner != null && item.Winner.Name == User.Identity.Name)
            {
                @:style=background-color:#62d462
            }else if (item.GameSessions.Any(gameSession => gameSession.User.Name==User.Identity.Name))
            {
                @:style=background-color:azure
            }
        >
        <td>
            @(++index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Winner.Name)
        </td>
        <td>
            <a href="@Url.Action("GameDetails","Game",new{id=item.Id})">Details</a>
        </td>
    </tr>
    }

</table>
