﻿@model IEnumerable<Game_MVC.Services.Interfaces.Projections.UserGameSessionProjection>

<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
    </tr>

    @{
        int index = 0, nextWinNumber, prevWinNumber, winNumber, winNumber2 = 0, winNumber3 = 0;
        if (Model.Any())
        {
            winNumber = Model.First().Game.Number;
            winNumber2 = winNumber;
            if (Model.Any(gs => gs.Number != winNumber))
            {
                var sortedNumbers = Model
                    .OrderBy(i => i.Number);

                var nextWinner = sortedNumbers
                    .FirstOrDefault(gs => gs.Number > winNumber);
                nextWinNumber = nextWinner?.Number ?? winNumber;
                prevWinNumber = sortedNumbers
                    .Aggregate((s, gs) => gs.Number < winNumber? gs:s).Number;

                if (prevWinNumber == winNumber)
                {
                    winNumber2 = nextWinNumber;
                }else if (nextWinNumber == winNumber)
                {
                    winNumber2 = prevWinNumber;
                }
                else
                {
                    int offsetBack = Math.Abs(winNumber - prevWinNumber);
                    int offsetNext = Math.Abs(nextWinNumber - winNumber);

                    if (offsetBack == offsetNext)
                    {
                        winNumber2 = prevWinNumber;
                        winNumber3 = nextWinNumber;
                    }
                    else
                    {
                        winNumber2 = offsetBack < offsetNext ? prevWinNumber : nextWinNumber;
                    }
                }
            }

        }
    }

    @foreach (var item in Model)
    {
        <tr 
            @if (item.Number == item.Game.Number)
            {
                @: style=background-color:#62d462
            }
            else if (item.User != null && item.User.Name == User.Identity.Name) {
                if(item.Number==winNumber2 || item.Number==winNumber3)
                {
                    @: style=background-color:#9fd8ff
                }
                else { 
                    @: style=background-color:azure
                }
            }
            else if(item.Number==winNumber2 || item.Number==winNumber3)
            {
                @: style=background-color:#f2ff9f
            }
        >
    <td>
        @(++index)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.User.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Number)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateTime)
    </td>
</tr>
}

</table>
