﻿
@{
    ViewBag.Title = "Index";
}

<h2>User: @User.Identity.Name</h2>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("GameFrame")
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("Comments")
        </div>
    </div>
</div>

@section Scripts{
    <!--Ссылка на библиотеку SignalR -->
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/gameHub.js"></script>
    <script src="~/Scripts/commentHub.js"></script>
}
