﻿.account-form {
    width: 30%;
    margin: 5vh auto;
    padding: 10px 20px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.account-form h1 {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.account-form .btn {
    width: 100%;
}