﻿* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.input-validation-error {
    border-color: red;
}

.input-validation-error:focus {
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, .25);
}

.field-validation-error {
    color: red;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
