﻿@using Game_MVC_task14.ViewModels
@model RegisterUserViewModel
@{
    ViewBag.Title = "Registration";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <hr>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.ValidationSummary(true)

                        @using (Html.BeginForm("Register","Account",FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Username" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password", placeholder = "Password" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" id="login-submit" tabindex="4" class="form-control btn-default" value="Register">
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <a href="@Url.Action("Login")" id="register-form-link" class="form-control btn-default" style="text-decoration: none; text-align: center;">Log in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>